#editor {
 margin: 0;
 height: 100%;
 font-family: 'Helvetica Neue', Arial, sans-serif;
 color: #333;
 display: flex;
 .editorWrapper {
   width: 49%;
   vertical-align: top;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   flex: 1;
   flex-direction: column;
 }
 input{
   padding: 0.625rem;
   margin-bottom: 10px;
   height: 30px;
   font-size: 18px;
   width: 100%;
 }
 textarea {
   width: 100%;
   height: 100%;
   padding: 0.625rem;
 }
 .pure-button{
   position: absolute;
   right: 10px;
   top: 5px;
 }
}
